<a href="https://colab.research.google.com/github/ElsiSahayaRenita/Task-Assignment1-Python/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TASK #ASSIGNMENT1

In [ ]:
#1. finbanocci series
def finbanocci(no):
  no1=0
  no2=1
  a=0
  for i in range(no):
    print(a, end=' ')
    no1=no2
    no2=a
    a=no1+no2
no=int(input('No of finbanocci series= '))
finbanocci(no)

No of finbanocci series= 7
0 1 1 2 3 5 8

In [ ]:
#2. find a lcm of a list
def lcm(x, y):
  if(x>y):
    greater = x
  else:
    greater=y

  while(True):
    if((greater%x==0) and (greater%y==0)):
      lcm=greater
      break
    greater+=1
  return lcm

l=[int(val) for val in input("Enter the values: ").split()]
lcm_val=lcm(l[0], l[1])
if(len(l) > 2):
  for i in range(2, len(l)):
    lcm_val= lcm(lcm_val, l[i])
print(lcm_val)

Enter the values: 22 44 66 88
264

In [ ]:
 #3. find a HCF of a list
 def hcf(x,y):
   while(y):
     x,y = y, x%y
   return x

 l=[int(val) for val in input("Enter the values: ").split()]
 hcf_val=hcf(l[0],l[1])
 for i in range(2, len(l)):
   if(len(l)==2):
     break
   else:
     hcf_val=hcf(hcf_val, l[i])
print(hcf_val)

Enter the values: 22 44 66  88
22

In [ ]:
#4. a = [1,1,1,2,2,1,4,4,5,3,6,2,2,2,2,4]
   #  1. max count of continuous element  
   #  2. output is 4 
   #  3. ONLY THE COUNT BUT NOT THE ELEMENTS
a = [1,1,1,2,2,1,4,4,5,3,6,2,2,2,2,4]
c= 0 
res=[]
for i in range(0,len(a)-1):
  if(a[i]==a[i+1]):
    res.append(a[i])
print(len(list(set(res)))+1)

4

In [ ]:
#5. a = 12345
 #   1. output should be 54321
  #  2. withoud converting this integer to string in no case.
n=12345
rev=0
while(n>0):
  rev = rev*10+(n%10)
  n=n//10
print(rev)

54321

In [ ]:
#6. in any list to tell wether the numbers are in ascending order or not
    #1. [1,2,3,4,5,6] output = True
    #2. [1,2,3,5,6,7] output = Flase
l=[int(val) for val in input("Enter the values:  ").split()]
if(l==list(range(1,8))):
  print(True)
else:
  print(False)

Enter the values:  1 2 3 4 5 6 7
True

In [ ]:
#7. You are given a sentence, and want to shift each letter by 2 in alphabet to create a secret code. 
#The sentence you want to encode is the lazy dog jumped over the quick brown fox and the output should be ’vjg ncba fqi lworgf qxgt vjg swkem dtqyp hqz’
a='The lazy dog jumped over the quick brown fox'
for j in a.split():
 for i in j:
   v=[]
   if (type(i)==str):
    if (i =='z'):
      v.append(ord('b'))
    elif(i=='y'):
      v.append(ord('a'))
    else:
     v.append(ord(i)+2)
   for k in v:
    print(chr(k), end='')
 print(end=' ')

Vjg ncba fqi lworgf qxgt vjg swkem dtqyp hqz

In [ ]:

#8. converts minutes to seconds.
time_in_minutes=int(input('enter the time in minutes= '))
time_converted= float(time_in_minutes* 60)
print(f"{time_converted} seconds")

enter the time in minutes= 55
3300.0 seconds

In [ ]:
#9. Converts age in years to days
from datetime import date
year=int(input("Enter your birth year: "))
month=int(input("Enter your birth month: "))
day=int(input("Enter your birth day: "))
my_dob=date(year,month,day)
diff=date.today()- my_dob
print(diff.days)

Enter your birth year: 2000
Enter your birth month: 12
Enter your birth day: 3
7710